.container {
    display: flex;
    margin: 20px;
    padding: 10px;
    flex-wrap: wrap;
    gap: auto;
    justify-content: flex-start;
    background-color: azure;
}

img {
    height: 200px;
    margin: 10px 10px 0;
    max-width: 200px;
    flex-grow: 1;
}

.itembox {
    border: 1px solid;
    margin: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.votetext {
    display: "inline-flex";
    margin-top: 14;
    margin-left: 20;
}

.buttonbar {
    margin-left: -5px;
    width: 240px;
    height: 50px;
    position: relative;
    background-color: pink;
    padding: 5px;
    text-align: center;
}

.item {
    margin: 20px 5px;
    width: 240px;
    height: 240px;
    background-color: azure;
    align-content: center;
}