.App {
    text-align: center;
}

.header {
    background-color: ghostwhite;
    box-shadow: 0 2px 2px -2px gray;
    height: 50px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 30px;
}

.header-text {
    font-weight: 800;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: #555555;
    cursor: pointer;
}